openapi: 3.1.0
info:
  title: Changemaker API
  version: 2.0.0
  description: |-
    Comprehensive API documentation for Changemaker platform.

    Generated automatically from route implementations.
    Last updated: 2025-11-03T18:34:51.057Z
  contact:
    name: Changemaker Support
    email: support@changemaker.im
servers:
  - url: https://changemaker.im
    description: Production
  - url: https://staging.changemaker.im
    description: Staging
  - url: http://localhost:3000
    description: Local
tags:
  - name: Health
    description: Health and status endpoints
  - name: Account
    description: User account management
  - name: Workspaces
    description: Workspace operations
  - name: Challenges
    description: Challenge management
  - name: Participants
    description: Participant management
  - name: Submissions
    description: Submission review workflow
  - name: Manager
    description: Manager role operations
  - name: Admin
    description: Admin operations
paths:
  /api/api/health:
    get:
      operationId: getHealthStatus
      summary: Check API and database health status
      description: >-
        Returns the current health status of the API service and its database connectivity. This
        endpoint is used for monitoring and ensuring the service is operational and can successfully
        connect to required dependencies.
      tags:
        - Health
      parameters: []
      responses:
        '200':
          description: Service is healthy and operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                  services:
                    type: object
                    properties:
                      api:
                        type: string
                        example: operational
                      database:
                        type: string
                        example: connected
        '500':
          description: Service is unhealthy or experiencing issues
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: unhealthy
                  timestamp:
                    type: string
                    format: date-time
                    example: '2024-01-15T10:30:00Z'
                  services:
                    type: object
                    properties:
                      api:
                        type: string
                        example: operational
                      database:
                        type: string
                        example: disconnected
                  error:
                    type: string
                    example: Database connection timeout
  /api/api/user/workspaces:
    get:
      operationId: getUserWorkspaces
      summary: Retrieve all workspaces accessible to the authenticated user
      description: >-
        Returns a comprehensive list of all workspaces that the current authenticated user has
        access to. Each workspace includes membership details, user roles, and permissions within
        that workspace.
      tags:
        - workspaces
        - user
      parameters: []
      responses:
        '200':
          description: Successfully retrieved user workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: ws_123456789
                        name:
                          type: string
                          example: Marketing Team Workspace
                        description:
                          type: string
                          example: Workspace for marketing campaigns and content creation
                        role:
                          type: string
                          enum:
                            - owner
                            - admin
                            - member
                            - viewer
                          example: admin
                        permissions:
                          type: array
                          items:
                            type: string
                          example:
                            - read
                            - write
                            - invite_users
                        memberSince:
                          type: string
                          format: date-time
                          example: '2023-01-15T10:30:00Z'
                        isActive:
                          type: boolean
                          example: true
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 3
        '400':
          description: Bad request due to invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: INVALID_REQUEST
                      message:
                        type: string
                        example: The request parameters are invalid
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: UNAUTHORIZED
                      message:
                        type: string
                        example: Authentication is required to access this resource
        '403':
          description: Insufficient permissions to access workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: FORBIDDEN
                      message:
                        type: string
                        example: You do not have permission to access workspace information
        '404':
          description: User or workspaces not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: NOT_FOUND
                      message:
                        type: string
                        example: No workspaces found for the current user
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: INTERNAL_ERROR
                      message:
                        type: string
                        example: An unexpected error occurred while retrieving workspaces
  /api/api/workspaces/{slug}:
    get:
      operationId: getWorkspaceBySlug
      summary: Retrieve workspace details by slug
      description: >-
        Gets detailed information about a specific workspace identified by its slug. Requires
        workspace access permissions to view the workspace data. Returns comprehensive workspace
        metadata including configuration and member information.
      tags:
        - workspaces
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
            pattern: ^[a-z0-9-]+$
            minLength: 1
            maxLength: 50
          description: Unique slug identifier for the workspace
      responses:
        '200':
          description: Workspace details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  slug:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
                  memberCount:
                    type: integer
                  isOwner:
                    type: boolean
              example:
                id: 123e4567-e89b-12d3-a456-426614174000
                slug: acme-corp
                name: ACME Corporation
                description: Main workspace for ACME Corporation projects
                createdAt: '2023-01-15T10:30:00Z'
                updatedAt: '2023-12-01T14:22:00Z'
                memberCount: 25
                isOwner: true
        '400':
          description: Invalid slug format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_SLUG
                message: Workspace slug must contain only lowercase letters, numbers, and hyphens
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication token is required
        '403':
          description: Insufficient permissions to access workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: FORBIDDEN
                message: You do not have permission to access this workspace
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: NOT_FOUND
                message: Workspace with slug 'acme-corp' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_ERROR
                message: An unexpected error occurred while retrieving workspace details
      security:
        - bearerAuth: []
    delete:
      operationId: deleteWorkspace
      summary: Delete a workspace
      description: >-
        Permanently deletes a workspace and all associated data. This action can only be performed
        by the workspace owner and cannot be undone. All workspace members will lose access
        immediately.
      tags:
        - workspaces
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The unique slug identifier of the workspace
      responses:
        '200':
          description: Workspace successfully deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
              example:
                success: true
                message: Workspace 'my-workspace' has been successfully deleted
        '400':
          description: Bad request - invalid workspace slug format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
              example:
                error: Invalid workspace slug format
                code: INVALID_SLUG
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
              example:
                error: Authentication required
                code: UNAUTHORIZED
        '403':
          description: Forbidden - only workspace owner can delete workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
              example:
                error: Only workspace owner can delete this workspace
                code: INSUFFICIENT_PERMISSIONS
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
              example:
                error: Workspace not found
                code: WORKSPACE_NOT_FOUND
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
              example:
                error: An unexpected error occurred while deleting the workspace
                code: INTERNAL_ERROR
      security:
        - requireWorkspaceAccess: []
  /api/api/invites/redeem:
    post:
      operationId: redeemInviteCode
      summary: Redeem an invite code to join a workspace or challenge
      description: >-
        Allows an authenticated user to redeem an invite code to gain access to a workspace or
        challenge. The invite code must be valid and not expired for the redemption to succeed.
      tags:
        - invites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: The invite code to redeem
            example:
              code: ABC123XYZ
      responses:
        '200':
          description: Invite code successfully redeemed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      workspaceId:
                        type: string
                      challengeId:
                        type: string
                      role:
                        type: string
              example:
                success: true
                message: Successfully joined workspace
                data:
                  workspaceId: ws_123456
                  role: member
        '400':
          description: Invalid request or invite code
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Invalid or expired invite code
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Authentication required
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: You are already a member of this workspace
        '404':
          description: Invite code not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Invite code not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Internal server error occurred while redeeming invite
      security:
        - bearerAuth: []
  /api/api/workspace/switch:
    post:
      operationId: switchActiveWorkspace
      summary: Switch the user's active workspace
      description: >-
        Switches the user's active workspace after verifying membership and sets a preference
        cookie. The operation validates that the user has access to the specified workspace before
        making the switch. A preference cookie is set to remember the user's workspace selection for
        future sessions.
      tags:
        - workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - slug
              properties:
                slug:
                  type: string
                  description: The unique identifier slug of the workspace to switch to
            example:
              slug: my-workspace
      responses:
        '200':
          description: Workspace switched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  workspace:
                    type: object
                    properties:
                      slug:
                        type: string
                      name:
                        type: string
              example:
                success: true
                message: Workspace switched successfully
                workspace:
                  slug: my-workspace
                  name: My Workspace
        '400':
          description: Bad request - invalid or missing slug parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Bad Request
                message: Workspace slug is required
        '401':
          description: Unauthorized - user not authenticated
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Unauthorized
                message: Authentication required
        '403':
          description: Forbidden - user is not a member of the specified workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Forbidden
                message: You are not a member of this workspace
        '404':
          description: Not found - workspace with the specified slug does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Not Found
                message: Workspace not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Internal Server Error
                message: An unexpected error occurred while switching workspace
  /api/api/auth/sync-user:
    post:
      operationId: syncAuthenticatedUser
      summary: Synchronizes authenticated Supabase user data and returns user information.
      description: >-
        Synchronizes the currently authenticated Supabase user's data with the application database.
        Returns comprehensive user information including unique identifier, email address, and
        assigned role permissions.
      tags:
        - Authentication
      parameters: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                forceSync:
                  type: boolean
                  description: Force synchronization even if user data is up to date
                  default: false
            example:
              forceSync: false
      responses:
        '200':
          description: User data synchronized successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      email:
                        type: string
                        format: email
                      role:
                        type: string
                        enum:
                          - admin
                          - user
                          - moderator
                      lastSyncedAt:
                        type: string
                        format: date-time
              example:
                success: true
                data:
                  id: 550e8400-e29b-41d4-a716-446655440000
                  email: user@example.com
                  role: user
                  lastSyncedAt: '2024-01-15T10:30:00Z'
        '400':
          description: Bad request - Invalid input data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Invalid request format
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Authentication required
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Insufficient permissions to sync user data
        '404':
          description: Not found - User not found in system
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: User not found in system
        '500':
          description: Internal server error - Synchronization failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Failed to synchronize user data with database
  /api/api/workspaces/{slug}/users:
    get:
      operationId: getWorkspaceUsers
      summary: Retrieve all users in a workspace
      description: >-
        Retrieves a list of all users who have access to the specified workspace. This endpoint
        performs authentication and access verification to ensure the requester has appropriate
        permissions to view workspace members.
      tags:
        - workspaces
        - users
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The unique slug identifier for the workspace
      responses:
        '200':
          description: Successfully retrieved workspace users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        email:
                          type: string
                        name:
                          type: string
                        role:
                          type: string
                        joinedAt:
                          type: string
                          format: date-time
                  total:
                    type: integer
              example:
                users:
                  - id: user-123
                    email: john.doe@example.com
                    name: John Doe
                    role: admin
                    joinedAt: '2023-01-15T10:30:00Z'
                  - id: user-456
                    email: jane.smith@example.com
                    name: Jane Smith
                    role: member
                    joinedAt: '2023-02-20T14:45:00Z'
                total: 2
        '400':
          description: Bad request - invalid workspace slug format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_SLUG
                message: The workspace slug format is invalid
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication is required to access this resource
        '403':
          description: Forbidden - insufficient permissions to view workspace users
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: FORBIDDEN
                message: You do not have permission to view users in this workspace
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: WORKSPACE_NOT_FOUND
                message: The specified workspace does not exist
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_SERVER_ERROR
                message: An unexpected error occurred while retrieving workspace users
  /api/api/workspaces/{slug}/points:
    get:
      operationId: getWorkspacePointsBudget
      summary: Retrieve the current points budget for a workspace.
      description: >-
        Fetches the current points budget allocation for the specified workspace. This endpoint
        provides visibility into the workspace's point management system and current budget status.
      tags:
        - workspaces
        - points
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier slug for the workspace
      responses:
        '200':
          description: Successfully retrieved workspace points budget
          content:
            application/json:
              schema:
                type: object
                properties:
                  slug:
                    type: string
                  totalBudget:
                    type: number
                  usedBudget:
                    type: number
                  remainingBudget:
                    type: number
                  lastUpdated:
                    type: string
                    format: date-time
              example:
                slug: acme-corp
                totalBudget: 10000
                usedBudget: 3500
                remainingBudget: 6500
                lastUpdated: '2024-01-15T10:30:00Z'
        '400':
          description: Bad request - invalid workspace slug format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_SLUG
                message: Workspace slug format is invalid
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication required to access workspace budget
        '403':
          description: Forbidden - insufficient permissions to view budget
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: FORBIDDEN
                message: Insufficient permissions to view workspace budget
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: WORKSPACE_NOT_FOUND
                message: Workspace with slug 'acme-corp' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_ERROR
                message: An unexpected error occurred while retrieving workspace budget
    put:
      operationId: updateWorkspacePointsBudget
      summary: Updates the points budget for a specific workspace.
      description: >-
        Updates the total points budget allocation for a workspace. This operation requires
        administrator privileges to modify budget settings. The budget controls how many points can
        be allocated within the workspace.
      tags:
        - workspaces
        - points
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier slug for the workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                totalBudget:
                  type: number
                  minimum: 0
                  description: Total points budget to allocate to the workspace
            example:
              totalBudget: 10000
      responses:
        '200':
          description: Points budget updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      slug:
                        type: string
                      totalBudget:
                        type: number
                      remainingBudget:
                        type: number
                      updatedAt:
                        type: string
                        format: date-time
              example:
                success: true
                data:
                  slug: marketing-team
                  totalBudget: 10000
                  remainingBudget: 8500
                  updatedAt: '2024-01-15T10:30:00Z'
        '400':
          description: Invalid request data or budget value
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_BUDGET
                message: Total budget must be a positive number
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication required to access this resource
        '403':
          description: Insufficient privileges - admin access required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: FORBIDDEN
                message: Administrator privileges required to modify workspace budget
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: WORKSPACE_NOT_FOUND
                message: Workspace with slug 'marketing-team' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_ERROR
                message: An unexpected error occurred while updating the workspace budget
  /api/api/workspaces/{slug}/leaderboard:
    get:
      operationId: getWorkspaceLeaderboard
      summary: Retrieve workspace leaderboard
      description: >-
        Retrieves the leaderboard for a workspace showing users ranked by their total points. The
        leaderboard displays user rankings based on accumulated points within the specified
        workspace. Results are ordered from highest to lowest points.
      tags:
        - Workspaces
        - Leaderboard
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The unique slug identifier for the workspace
      responses:
        '200':
          description: Leaderboard retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace:
                    type: object
                    properties:
                      slug:
                        type: string
                      name:
                        type: string
                  leaderboard:
                    type: array
                    items:
                      type: object
                      properties:
                        rank:
                          type: integer
                        userId:
                          type: string
                        username:
                          type: string
                        displayName:
                          type: string
                        totalPoints:
                          type: integer
                        avatar:
                          type: string
                          nullable: true
                  totalUsers:
                    type: integer
              example:
                workspace:
                  slug: acme-corp
                  name: ACME Corporation
                leaderboard:
                  - rank: 1
                    userId: user123
                    username: john_doe
                    displayName: John Doe
                    totalPoints: 2500
                    avatar: https://example.com/avatars/john.jpg
                  - rank: 2
                    userId: user456
                    username: jane_smith
                    displayName: Jane Smith
                    totalPoints: 2100
                    avatar: null
                totalUsers: 25
        '400':
          description: Bad request - invalid slug format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_SLUG
                message: The workspace slug format is invalid
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: WORKSPACE_NOT_FOUND
                message: Workspace with slug 'acme-corp' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_ERROR
                message: An unexpected error occurred while retrieving the leaderboard
  /api/api/workspaces/{slug}/invites:
    get:
      operationId: listWorkspaceInvites
      summary: List all invitations for a workspace
      description: >-
        Retrieves a list of all pending and active invitations for the specified workspace. Only
        workspace administrators can access this endpoint to manage workspace invitations.
      tags:
        - Workspace Invitations
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The workspace slug identifier
        - name: inviteId
          in: query
          required: false
          schema:
            type: string
          description: Filter by specific invite ID
      responses:
        '200':
          description: Successfully retrieved workspace invitations
          content:
            application/json:
              schema:
                type: object
                properties:
                  invites:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        targetEmail:
                          type: string
                        role:
                          type: string
                        status:
                          type: string
                        expiresAt:
                          type: string
                          format: date-time
                        maxUses:
                          type: number
                        usedCount:
                          type: number
                        createdAt:
                          type: string
                          format: date-time
                  total:
                    type: number
              example:
                invites:
                  - id: inv_123456
                    targetEmail: user@example.com
                    role: member
                    status: pending
                    expiresAt: '2024-01-15T10:30:00Z'
                    maxUses: 1
                    usedCount: 0
                    createdAt: '2024-01-01T10:30:00Z'
                total: 1
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_PARAMETERS
                message: Invalid workspace slug format
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication required
        '403':
          description: Forbidden - workspace admin access required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INSUFFICIENT_PERMISSIONS
                message: Workspace administrator access required
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: WORKSPACE_NOT_FOUND
                message: Workspace with slug 'example-workspace' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_SERVER_ERROR
                message: An unexpected error occurred while retrieving invitations
      security:
        - bearerAuth: []
    post:
      operationId: createWorkspaceInvite
      summary: Create a new workspace invitation
      description: >-
        Creates a new invitation for users to join a workspace with specified role and access
        parameters. The invitation can be configured with expiration time, usage limits, and
        optional challenge requirements for enhanced security.
      tags:
        - Workspace Invitations
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Unique workspace identifier
        - name: inviteId
          in: query
          required: false
          schema:
            type: string
          description: Optional invite ID for updating existing invitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                    - member
                    - admin
                    - viewer
                  description: Role to assign to invited user
                targetEmail:
                  type: string
                  format: email
                  description: Email address of the user to invite
                expiresInDays:
                  type: number
                  minimum: 1
                  maximum: 365
                  description: Number of days until invitation expires
                maxUses:
                  type: number
                  minimum: 1
                  description: Maximum number of times invitation can be used
                challengeId:
                  type: string
                  description: Optional challenge ID for additional security verification
            example:
              role: member
              targetEmail: user@example.com
              expiresInDays: 7
              maxUses: 1
              challengeId: challenge_123
      responses:
        '200':
          description: Invitation created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  invite:
                    type: object
                    properties:
                      id:
                        type: string
                      workspaceSlug:
                        type: string
                      role:
                        type: string
                      targetEmail:
                        type: string
                      expiresAt:
                        type: string
                        format: date-time
                      maxUses:
                        type: number
                      usedCount:
                        type: number
                      createdAt:
                        type: string
                        format: date-time
              example:
                success: true
                invite:
                  id: inv_abc123
                  workspaceSlug: my-workspace
                  role: member
                  targetEmail: user@example.com
                  expiresAt: '2024-01-15T10:30:00Z'
                  maxUses: 1
                  usedCount: 0
                  createdAt: '2024-01-08T10:30:00Z'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: array
                    items:
                      type: string
              example:
                error: Invalid invitation parameters
                details:
                  - targetEmail must be a valid email address
                  - expiresInDays must be between 1 and 365
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Authentication token required
        '403':
          description: Insufficient permissions - workspace admin required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Workspace admin privileges required to create invitations
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Workspace not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Failed to create workspace invitation
      security:
        - bearerAuth: []
    delete:
      operationId: revokeWorkspaceInvite
      summary: Revoke a workspace invitation
      description: >-
        Revokes an existing workspace invitation by invite ID. This action permanently removes the
        invitation and prevents it from being used to join the workspace. Only workspace
        administrators can revoke invitations.
      tags:
        - Workspace Invitations
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier for the workspace
        - name: inviteId
          in: query
          required: true
          schema:
            type: string
          description: Unique identifier of the invitation to revoke
      responses:
        '200':
          description: Invitation successfully revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Invitation revoked successfully
                  revokedInvite:
                    type: object
                    properties:
                      id:
                        type: string
                        example: inv_abc123
                      targetEmail:
                        type: string
                        example: user@example.com
                      role:
                        type: string
                        example: member
                      revokedAt:
                        type: string
                        format: date-time
                        example: '2024-01-15T10:30:00Z'
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid invite ID format
                  code:
                    type: string
                    example: INVALID_INVITE_ID
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Authentication required
                  code:
                    type: string
                    example: UNAUTHORIZED
        '403':
          description: Insufficient permissions - workspace admin required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Workspace administrator privileges required
                  code:
                    type: string
                    example: INSUFFICIENT_PERMISSIONS
        '404':
          description: Workspace or invitation not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invitation not found
                  code:
                    type: string
                    example: INVITE_NOT_FOUND
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: An unexpected error occurred while revoking the invitation
                  code:
                    type: string
                    example: INTERNAL_ERROR
      security:
        - requireWorkspaceAdmin: []
  /api/api/workspaces/{slug}/challenges:
    get:
      operationId: getWorkspaceChallenges
      summary: Retrieve challenges for a specific workspace
      description: >-
        Fetches all challenges associated with a workspace identified by its slug. This endpoint
        provides access to challenge data and supports enrollment management functionality for
        workspace members.
      tags:
        - challenges
        - workspaces
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The unique slug identifier for the workspace
      responses:
        '200':
          description: Successfully retrieved workspace challenges
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenges:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        description:
                          type: string
                        difficulty:
                          type: string
                          enum:
                            - easy
                            - medium
                            - hard
                        enrollmentCount:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                  total:
                    type: integer
              example:
                challenges:
                  - id: ch_123
                    title: API Design Challenge
                    description: Design a RESTful API for a social media platform
                    difficulty: medium
                    enrollmentCount: 15
                    createdAt: '2024-01-15T10:30:00Z'
                total: 1
        '400':
          description: Bad request - invalid workspace slug format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_SLUG
                message: Workspace slug format is invalid
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication required to access this resource
        '403':
          description: Forbidden - insufficient permissions to access workspace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: FORBIDDEN
                message: Insufficient permissions to access this workspace
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: WORKSPACE_NOT_FOUND
                message: Workspace with the specified slug does not exist
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_SERVER_ERROR
                message: An unexpected error occurred while processing the request
    post:
      operationId: createWorkspaceChallenge
      summary: Create a new challenge for a workspace
      description: >-
        Creates a new challenge within the specified workspace and manages enrollment settings. This
        endpoint allows administrators to set up challenges with custom parameters and enrollment
        rules for workspace members.
      tags:
        - challenges
        - workspaces
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The unique slug identifier for the workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
                - difficulty
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 200
                description:
                  type: string
                  minLength: 1
                  maxLength: 2000
                difficulty:
                  type: string
                  enum:
                    - beginner
                    - intermediate
                    - advanced
                    - expert
                tags:
                  type: array
                  items:
                    type: string
                enrollmentSettings:
                  type: object
                  properties:
                    autoEnroll:
                      type: boolean
                      default: false
                    maxParticipants:
                      type: integer
                      minimum: 1
                    enrollmentDeadline:
                      type: string
                      format: date-time
            example:
              title: Algorithm Optimization Challenge
              description: Optimize sorting algorithms for large datasets with memory constraints
              difficulty: advanced
              tags:
                - algorithms
                - optimization
                - performance
              enrollmentSettings:
                autoEnroll: false
                maxParticipants: 50
                enrollmentDeadline: '2024-02-15T23:59:59Z'
      responses:
        '201':
          description: Challenge created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  title:
                    type: string
                  description:
                    type: string
                  difficulty:
                    type: string
                  tags:
                    type: array
                    items:
                      type: string
                  workspaceSlug:
                    type: string
                  enrollmentSettings:
                    type: object
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
              example:
                id: ch_abc123def456
                title: Algorithm Optimization Challenge
                description: Optimize sorting algorithms for large datasets with memory constraints
                difficulty: advanced
                tags:
                  - algorithms
                  - optimization
                  - performance
                workspaceSlug: tech-company
                enrollmentSettings:
                  autoEnroll: false
                  maxParticipants: 50
                  enrollmentDeadline: '2024-02-15T23:59:59Z'
                createdAt: '2024-01-15T10:30:00Z'
                updatedAt: '2024-01-15T10:30:00Z'
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: string
              example:
                error: ValidationError
                message: Invalid challenge data provided
                details:
                  - Title is required
                  - 'Difficulty must be one of: beginner, intermediate, advanced, expert'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Unauthorized
                message: Authentication credentials are required
        '403':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Forbidden
                message: You do not have permission to create challenges in this workspace
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: NotFound
                message: Workspace with slug 'tech-company' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: InternalServerError
                message: An unexpected error occurred while creating the challenge
  /api/api/workspaces/{slug}/budget:
    get:
      operationId: getWorkspaceBudget
      summary: Retrieve workspace points budget
      description: >-
        Retrieves the points budget configuration for a specific workspace. This endpoint requires
        admin privileges to access the budget information. The budget includes allocation details,
        spending limits, and current usage statistics.
      tags:
        - Workspaces
        - Budget
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The unique slug identifier for the workspace
      responses:
        '200':
          description: Successfully retrieved workspace budget
          content:
            application/json:
              schema:
                type: object
                properties:
                  budget:
                    type: object
                    properties:
                      totalPoints:
                        type: integer
                        example: 10000
                      usedPoints:
                        type: integer
                        example: 3500
                      remainingPoints:
                        type: integer
                        example: 6500
                      resetDate:
                        type: string
                        format: date-time
                        example: '2024-01-01T00:00:00Z'
              example:
                budget:
                  totalPoints: 10000
                  usedPoints: 3500
                  remainingPoints: 6500
                  resetDate: '2024-01-01T00:00:00Z'
        '400':
          description: Bad request - invalid slug format
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_SLUG
                message: The workspace slug format is invalid
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication is required to access this resource
        '403':
          description: Forbidden - admin privileges required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INSUFFICIENT_PRIVILEGES
                message: Admin privileges are required to access workspace budget information
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: WORKSPACE_NOT_FOUND
                message: No workspace found with the specified slug
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_SERVER_ERROR
                message: An unexpected error occurred while retrieving the workspace budget
  /api/api/admin/users/bulk-upload:
    post:
      operationId: bulkUploadUsers
      summary: Bulk upload users from CSV file
      description: >-
        Uploads multiple users from a CSV file containing email, workspaceSlug, and role columns.
        This operation requires platform superadmin permissions to execute. The CSV file should have
        proper headers and valid data for each user entry.
      tags:
        - Admin
        - Users
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file containing user data with email, workspaceSlug, and role columns
              required:
                - file
            example:
              file: users.csv
      responses:
        '200':
          description: Users successfully uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      totalProcessed:
                        type: integer
                      successfulUploads:
                        type: integer
                      failedUploads:
                        type: integer
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            row:
                              type: integer
                            email:
                              type: string
                            error:
                              type: string
              example:
                success: true
                message: Bulk upload completed successfully
                data:
                  totalProcessed: 100
                  successfulUploads: 95
                  failedUploads: 5
                  errors:
                    - row: 15
                      email: invalid-email
                      error: Invalid email format
        '400':
          description: Bad request - Invalid file format or missing required columns
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  error:
                    type: string
              example:
                success: false
                message: Invalid file format
                error: CSV file must contain email, workspaceSlug, and role columns
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  error:
                    type: string
              example:
                success: false
                message: Authentication required
                error: Please provide valid authentication credentials
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  error:
                    type: string
              example:
                success: false
                message: Insufficient permissions
                error: Platform superadmin permissions required for bulk user upload
        '404':
          description: Not found - Endpoint not available
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  error:
                    type: string
              example:
                success: false
                message: Endpoint not found
                error: The requested resource could not be found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  error:
                    type: string
              example:
                success: false
                message: Internal server error
                error: An unexpected error occurred while processing the bulk upload
  /api/api/workspaces/{slug}/activity-templates:
    get:
      operationId: getWorkspaceActivityTemplates
      summary: Retrieve all activity templates for a workspace
      description: >-
        Fetches a list of all activity templates available within the specified workspace. Activity
        templates serve as reusable blueprints for creating standardized activities with predefined
        configurations and settings.
      tags:
        - Activity Templates
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The unique slug identifier for the workspace
      responses:
        '200':
          description: Successfully retrieved activity templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        category:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                  total:
                    type: integer
              example:
                data:
                  - id: template-123
                    name: Daily Standup
                    description: Template for daily team standup meetings
                    category: meetings
                    createdAt: '2024-01-15T10:30:00Z'
                    updatedAt: '2024-01-15T10:30:00Z'
                total: 1
        '400':
          description: Bad request - invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_SLUG
                message: The workspace slug format is invalid
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication credentials are required
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: FORBIDDEN
                message: You do not have permission to access activity templates for this workspace
        '404':
          description: Not found - workspace does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: WORKSPACE_NOT_FOUND
                message: Workspace with the specified slug was not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_SERVER_ERROR
                message: An unexpected error occurred while retrieving activity templates
    post:
      operationId: createWorkspaceActivityTemplate
      summary: Create a new activity template for a workspace
      description: >-
        Creates a new activity template within the specified workspace. Activity templates serve as
        reusable blueprints for common activities and can be used to standardize workflows across
        the workspace.
      tags:
        - Activity Templates
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: The unique slug identifier for the workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - description
              properties:
                name:
                  type: string
                  description: The name of the activity template
                description:
                  type: string
                  description: A detailed description of the activity template
                category:
                  type: string
                  description: The category this template belongs to
                estimatedDuration:
                  type: integer
                  description: Estimated duration in minutes
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags associated with the template
                isActive:
                  type: boolean
                  default: true
                  description: Whether the template is active and available for use
            example:
              name: Daily Standup
              description: A template for conducting daily standup meetings with the team
              category: Meetings
              estimatedDuration: 15
              tags:
                - standup
                - daily
                - team
              isActive: true
      responses:
        '201':
          description: Activity template created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  category:
                    type: string
                  estimatedDuration:
                    type: integer
                  tags:
                    type: array
                    items:
                      type: string
                  isActive:
                    type: boolean
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
              example:
                id: template_123
                name: Daily Standup
                description: A template for conducting daily standup meetings with the team
                category: Meetings
                estimatedDuration: 15
                tags:
                  - standup
                  - daily
                  - team
                isActive: true
                createdAt: '2024-01-15T10:30:00Z'
                updatedAt: '2024-01-15T10:30:00Z'
        '400':
          description: Bad request - invalid input data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: string
              example:
                error: ValidationError
                message: Invalid input data provided
                details:
                  - Name is required
                  - Description must be at least 10 characters
        '401':
          description: Unauthorized - authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Unauthorized
                message: Authentication required to access this resource
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Forbidden
                message: You do not have permission to create activity templates in this workspace
        '404':
          description: Workspace not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: NotFound
                message: Workspace with slug 'example-workspace' not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: InternalServerError
                message: An unexpected error occurred while creating the activity template
  /api/api/account/password/update:
    post:
      operationId: updateUserPassword
      summary: Updates the authenticated user's password
      description: >-
        Updates the authenticated user's password with validation for minimum length requirements.
        The new password must meet security criteria including minimum length and complexity
        requirements. This operation requires the user to be authenticated.
      tags:
        - Account Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - newPassword
              properties:
                newPassword:
                  type: string
                  minLength: 8
                  description: The new password for the user account
            example:
              newPassword: newSecurePassword123!
      responses:
        '200':
          description: Password updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
              example:
                message: Password updated successfully
                success: true
        '400':
          description: Bad request - Invalid password format or missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INVALID_PASSWORD
                message: Password must be at least 8 characters long
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: UNAUTHORIZED
                message: Authentication required to update password
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: FORBIDDEN
                message: Insufficient permissions to update password
        '404':
          description: Not found - User account not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: USER_NOT_FOUND
                message: User account not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: INTERNAL_SERVER_ERROR
                message: An unexpected error occurred while updating the password
  /api/api/account/password/request-reset:
    post:
      operationId: requestPasswordReset
      summary: Request a password reset email
      description: >-
        Sends a password reset email to the specified email address using Supabase authentication.
        The user will receive an email with instructions to reset their password. This endpoint does
        not require authentication.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: The email address to send the password reset link to
            example:
              email: user@example.com
      responses:
        '200':
          description: Password reset email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
              example:
                message: Password reset email sent successfully
                success: true
        '400':
          description: Bad request - invalid email format or missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Invalid request
                message: Please provide a valid email address
        '404':
          description: Email address not found in the system
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Not found
                message: No account found with this email address
        '500':
          description: Internal server error - failed to send email
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: Internal server error
                message: Failed to send password reset email
  /api/api/account/email/confirm:
    get:
      operationId: confirmEmailChange
      summary: Confirms email change by validating token and updating user email.
      description: >-
        Validates the provided token to confirm an email change request. Upon successful validation,
        updates the user's email address in both the application database and Supabase
        authentication system.
      tags:
        - Account Management
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Email confirmation token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: Email confirmation token
            example:
              token: >-
                eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMTIzNDU2IiwiZW1haWwiOiJuZXdlbWFpbEBleGFtcGxlLmNvbSIsImV4cCI6MTY5ODc2NTQzMn0.abc123def456
      responses:
        '200':
          description: Email change confirmed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                      confirmedAt:
                        type: string
                        format: date-time
              example:
                success: true
                message: Email change confirmed successfully
                data:
                  email: newemail@example.com
                  confirmedAt: '2023-10-31T14:30:00Z'
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Invalid or expired confirmation token
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Authentication required
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Insufficient permissions to confirm email change
        '404':
          description: User or confirmation request not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Email confirmation request not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  error:
                    type: string
              example:
                success: false
                error: Failed to update email address
      security:
        - bearerAuth: []
  /api/api/workspaces/{slug}/participants/export:
    get:
      operationId: exportWorkspaceParticipants
      summary: Export workspace participants data as CSV
      description: >-
        Exports all participants data from the specified workspace as a downloadable CSV file. The
        exported file contains participant information including email addresses, roles, join dates,
        and points accumulated.
      tags:
        - workspaces
        - participants
        - export
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier slug for the workspace
      responses:
        '200':
          description: CSV file containing participants data
          content:
            text/csv:
              schema:
                type: string
                format: binary
              example: |-
                email,role,join_date,points
                john.doe@example.com,member,2023-01-15,150
                jane.smith@example.com,admin,2023-01-10,300
          headers:
            Content-Disposition:
              schema:
                type: string
              example: attachment; filename="workspace-participants.csv"
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
[...]
